.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main p, .main a {
  margin: 0.5em 2rem;
  width: 100vw;
}

.main a {
  cursor: pointer;
  color: rgb(127, 210, 210);
  font-size: 0.6rem;
}

.web3Container {
  margin: 0px;
  background-image: url(../public/cyber.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  min-width: 300px;
  position: relative;
  overflow: hidden;
}

.logoContainer {
  margin-left: 15px;
  position: fixed;
  width: 10%;
  height: 10%;
}

.ccpLogo {
  width: 100%;
}

.rainbowContainer {
  margin: 15px 59px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: stretch;
  background-image: url(../public/connect.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  cursor: pointer;
}

.connected {
  /* Background image for connected state */
  background-image: url('../public/connected.png');
  /* Other styles for the container in the connected state */
}

.rainbowContainer button {
  --rk-colors-accentColor: rgba(255, 255, 255, 0);
  --rk-colors-connectButtonBackground: rgba(0, 0, 0, 0);
  width: 210px;
  display: flex;
  justify-content: flex-end;
}

.radioContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.featureImageContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.featureImage {
  width: 50vw;
}

.mintContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.quantityControl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.arrowButton {
  margin: 10px 10px 0px;
  width: auto;
  height: 100%;
  cursor: pointer;
}

.quantityImage {
  width: auto;
  height: 100%;
}

.mintButton {
  margin: 5px;
  height: 30%;
  cursor: pointer;
}

.mintToControl {
  width: 60%;
}

.mintToControl input {
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.mintCostSupply {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-align: center;
}